<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blindbot Google Maps Example</title>
    {{movingmap.js}}

</head>

<body>

    <h1>Moving Map</h1>
    <h2>You can move markers dynamically and add new markers, refresh its position etc... </h2>
    {{movingmap.html}} {% for position in movingmarkers %}
    <button onclick='movingmap_markers.map(function(mk){mk.setPosition({lat: {{ position.lat }},
    lng:{{ position.lng }}})})'>Go
        to position {{ loop.index }} </button> {% endfor %}
    <br />
    <button onclick='movingmap_markers.map(function(mk){mk.setMap(null)})'>Remove marker</button>
    <button onclick='movingmap_markers.map(function(mk){mk.setMap(movingmap)})'>Restore marker</button>
    <button
        onclick='new google.maps.Marker({title: "New Marker", position: {lat: 37.4640, lng: -122.1350}}).setMap(movingmap)'>Add
        New Marker Above</button>


    <!-- <pre>
&lt;button onclick='movingmap_markers.map(function(mk){mk.setPosition({lat: 37.44, lng:-122.135})})'&gt;Go to position 1 &lt;/button&gt;
&lt;button onclick='movingmap_markers.map(function(mk){mk.setPosition({lat: 37.443, lng:-122.135})})'&gt;Go to position 2 &lt;/button&gt;
&lt;button onclick='movingmap_markers.map(function(mk){mk.setPosition({lat: 37.445, lng:-122.135})})'&gt;Go to position 3 &lt;/button&gt;
&lt;button onclick='movingmap_markers.map(function(mk){mk.setPosition({lat: 37.449, lng:-122.135})})'&gt;Go to position 4 &lt;/button&gt;
&lt;button onclick='movingmap_markers.map(function(mk){mk.setMap(null)})'&gt;Remove marker&lt;/button&gt;
&lt;button onclick='movingmap_markers.map(function(mk){mk.setMap(movingmap)})'&gt;Restore marker&lt;/button&gt;
&lt;button onclick='onclick='new google.maps.Marker({title: "New Marker", position: {lat: 37.4640, lng: -122.1350}}).setMap(movingmap)''&gt;Add new marker above&lt;/button&gt;
    </pre> -->



</body>

</html>